<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578668821439-mn4qspjn0r0s42er1anhkmo4cc512mcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578668821439-mn4qspjn0r0s42er1anhkmo4cc512mcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCV3GOsWEtCK3j3WMW1uEu2leJ5x9EOlNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>578668821439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.KasRoid.Chat-Practice</string>
	<key>PROJECT_ID</key>
	<string>chatpractice-828c9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatpractice-828c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578668821439:ios:db4ecd53ee586a1e70ff0a</string>
	<key>DATABASE_URL</key>
	<string>https://chatpractice-828c9.firebaseio.com</string>
</dict>
</plist>