<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898054732305-g725j917pahm461ii7qd36tdj8nlajd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898054732305-g725j917pahm461ii7qd36tdj8nlajd1</string>
	<key>API_KEY</key>
	<string>AIzaSyAAgzSwKc11-p6_i7ALP_GeZi69IrCpU9s</string>
	<key>GCM_SENDER_ID</key>
	<string>898054732305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamQED.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-b4925</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-b4925.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898054732305:ios:c7f3868c810d86ad6d0fb0</string>
	<key>DATABASE_URL</key>
	<string>https://chat-b4925.firebaseio.com</string>
</dict>
</plist>